@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  /* Кольори Еллада */
  --color-ellada-primary: #8B1A2B;
  --color-ellada-primary-dark: #5a1020;
  --color-ellada-gold: #C9A227;
  --color-ellada-gold-dark: #B8921F;
  --color-ellada-gray-bg: #f9fafb;
  --color-ellada-gray-text: #111827;
  --color-ellada-gray-muted: #374151;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
